h1 {
	text-align: center;
	color: black;
	font-family: New Century Schoolbook, TeX Gyre Schola, serif;
	font-variant: small-caps;
	text-decoration: underline;
	
}

.chart-container {
  position: relative;
  margin-top: 100px;
  height: 300vh;
  width: 80vw;
}
body {
	margin-left: 10%;
	margin-right: 10%;
}
header{
	margin-bottom:50px;
	height: 7em;
	
}
#dropdownMenu2{
	
	margin-top:  10px;
}

h2 {
	
	text-align: center;
	color: black;
	margin-top: 50px;
	
	
	
=======
	margin-top: 50px;
	margin-bottom: 50px;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}