h1 {
	text-align: center;
	color: black;
	font-family: New Century Schoolbook, TeX Gyre Schola, serif;
	font-variant: small-caps;
	text-decoration: underline;

}
#nav{
	color: red;
	
}
#test{
	color: black;
	background-color: lightgrey;
	
	margin-bottom: 15px;
	border-color: lightgrey;
	border-style: solid;
	border-radius: 1px;

	
}


.chart-container {
  position: relative;
  margin-top: 155px;
  height: 300vh;
  width: 80vw;
}
body {
	margin-left: 10%;
	margin-right: 10%;
}
header{
	margin-bottom:50px;
	height: 7em;

}
#dropdownMenu2{

	margin-top:  10px;
}


#deleteBtn2{
	margin-top: 10px;
}
h2 {
	
	text-align: center;
	color: black;
	margin-top: 50px;




	margin-top: 50px;
	margin-bottom: 50px;
}
#h2 {
	
}
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
#main {
	background-color: lightgrey;
	
}
article {
	margin-top: 10px;
	margin-left: 50px;
}
